<h1>Upload Data</h1>

<%= form_with url: data_index_path, local: true, method: :post, multipart: true do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload' %>
  </div>
<% end %>

